<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>home</title>
<link rel="shortcut icon" href="/static/images/favicon.ico" mce_href="/static/images/favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
<link rel="stylesheet" href="/static/css/mine.css" type="text/css" />
	<script type="text/javascript">
	function out(){
	if(!confirm("确认要退出登录？")){
	window.event.returnValue = false;
	}
	}
	</script>
</head>

<body>
		<div class="background">
               <div class="top">
			        <img src="/static/images/logo.png">
				   <a href="/logout" onclick="return out()">退出登录</a>
			   </div>
               <div class="sidebar">
					<ul>
					    <li><a href="/home">个人中心</a></li>
                        <li><a href="/home/mlist">会议列表</a></li>
						<li><a href="/home/invitation">与会邀请</a></li>
						<li><a href="/home/publish">会议发布</a></li>
						<li><a href="/home/manage">会议管理</a></li>
					</ul>

					<div class="sidebar_footer">
					    <ul>
						    <li><a href="contact.html">联系我们</a></li>
						    <li><a href="set.html">设置</a></li>
					    </ul>
					</div>

			   </div>
			   <div class="body">
			        <div class="body_left">
					  <table>
					   <tr>
					    <td class="pho">{{form.photo}]</td>   <!--从数据库传个人资料头像-->
					   </tr>
					   <tr>
					    <td>
						  <form method="post" action="info_revise.html">
						  <input type="submit" class="buit" value="提交"><br>
                              <input type="button" class="buit" value="编辑"><br>
                              <input type="button" class="buit" value="保存">
						  </form>
						</td>
					   </tr>
					  </table>
			        </div>
					<div class="body_right">
					  <table>
					   <tr>
					    <td width="20%">会议编号:</td>
					    <td width="80%">{{form.username}}</td> <!--从数据库传个人资料用户名-->
					   </tr>
                          <tr>
					    <td width="20%">会议名称:</td>
					    <td width="80%">{{form.username}}</td> <!--从数据库传个人资料用户名-->
					   </tr>
					   <tr>
                        <td>会议日期:</td>
					    <td>{{form.phonenum}}</td> <!--从数据库传个人资料手机号-->
					   </tr>
					   <tr>
					    <td>会议开始和结束时间:</td>
					    <td>{{form.mailnum}]</td> <!--从数据库传个人资料邮箱-->
					   </tr>
                       <tr>
					    <td>会议地点:</td>
					    <td>{{form.company}}</td> <!--从数据库传个人资料公司名-->
					   </tr>
                       <tr>
					    <td>会议主题:</td>
					    <td>{{form.occupation}}</td> <!--从数据库传个人资料职位-->
					   </tr>
					   <tr>
					    <td>会议简介:</td>
					    <td>{{form.prize}}</td> <!--从数据库传个人资料奖品-->
					   </tr>
					  </table>
					</div>
			   </div>
		</div>
</body>
</html>
