/* CSS Document */

/*-------------------------	Top ----------------------------*/
.top{
left:10%;
right:10%;
width:80%;
hight:10%;
position:fixed;
}
#logo{
    text-align: left;

    font-weight: 700;
    margin-bottom: 1em;
    font-size: 38px; 
	padding-left:10%;  
}

/*-------------------------	Sidebar --------------------------*/
.sidebar{
	float:left;
	width:20%;
	padding-top:15px;
    padding-bottom: 40px;
    position: fixed;
    bottom: 0;
    top: 15%;
    left: 10%;
}
.sidebar ul{
    text-align: center;
    margin: 0;
    padding: 0;
	background:url(images/shad2.png) no-repeat;
}

.sidebar ul li.selected a{
	color:#492606;
	text-shadow: 0 1px 0 #fff;
	background-color:#FFFFFF;
	
	vertical-align:middle;
}
.sidebar ul li a:hover{
	text-decoration: none;
	background:#ebebeb url(images/border.png) no-repeat;
	color:#67a5cd;
}
.sidebar ul li{
    margin: 0 0 20px 0;
    padding: 0;
	list-style:none;
}
.sidebar ul li a{
    text-decoration: none;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    padding: 10px 10px;
    letter-spacing: .2em;

	background:#cbcbcb url(images/border.png) no-repeat;
	color:#174867;
	width:70%;
	display:block;
	text-decoration:none;
	
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
	
	-webkit-box-shadow:2px 2px 4px #888;
	-moz-box-shadow:2px 2px 4px #888;
	-o-box-shadow:2px 2px 4px #888;
}

.sidebar div.sidebar_footer{
    position: absolute;
    bottom: 40px;
    font-size: 14px;
    text-align: center;
    width: 100%;
    font-weight: 400;
    color:#67a5cd;
}



/*-------------------------	Body --------------------------*/
.body{
	float:right;
	padding:10px 0 0 0;
	width: 60%;
	right:10%;
	buttom:7px;
	top:15%;
	left:30%;
	position:fixed;
	hight:85%;
}
.body div.body_left{
    float:left;
	width:20%;
	hight:85%;
}
.body div.body_left table{
    width:100%;
	top:inherit;
	
}
.body div.body_left td{
    text-align:left;
    height:80px;
    vertical-align:middle;
	padding:10px;

}
.body div.body_right{
    float:right;
	width:45%;
	right:10%;
	hight:85%;
	position:fixed;
}
.body div.body_right table{
    width:100%;
}

.body div.body_right td{
    text-align:left;
    vertical-align:middle;
	padding:10px;
}
.body div.body_left.pho{
    width:80px;
	height:60px;
}

/* ------------------------------------------
   huiyiyaoqing/fabuchuangjian
------------------------------------------- */ 

ol.invitelist {
	margin: 15px 25px;
	padding: 0;
	border-style: solid;	
	border-color: #DDC3A5;	
	border-width: 1px 1px 0 1px;
}
.invitelist li {
	margin: 0;
	padding: 15px 15px;
	list-style: none;
	border-bottom: 1px solid #E5D0BA; 
	background: #F1EAD6;	
}
.invitelist li cite {
	display: block;
	font-style: normal;
	font-weight: bold;
	padding: 7px;	
}
.invitelist li cite img {
	float: left;
	margin-right: 10px;	
	border: 1px solid #E7CFCF;
}
.invitelist li cite .invite-data {
	font-size: .8em;
	font-weight: normal;
}
.commentlist li .info {
	clear: both;
	margin: 0; padding: 0;
}
.commentlist li .info p{
	padding-left: 12px;
}
.commentlist li.list {
	background: #EEE1D5;
}
.commentlist li .op {
	clear: both;
	margin: 0; padding: 0;
}

