<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="/static/images/favicon.ico" mce_href="/static/images/favicon.ico" type="image/x-icon"/>
<title>home</title>
<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
<link rel="stylesheet" href="/static/css/mine.css" type="text/css" />
	<script type="text/javascript">
function out(){
if(!confirm("确认要退出登录？")){
window.event.returnValue = false;
}
}
</script>

</head>

<body>
<div class="background">
               <div class="top">
			        <img src="/static/images/Logo.png">
				   <a href="/logout" onclick="return out()">退出登录</a>
			   </div>

               <div class="sidebar">				
					<ul>
					    <li class="selected"><a href="/home">个人中心</a></li>
                        <li><a href="/home/huiyiliebiao">会议列表</a></li>
						<li><a href="/home/huiyiyaoqing">与会邀请</a></li>
						<li><a href="/home/fabuchuangjian">会议发布</a></li>
						<li><a href="/home/fabuguanli">会议管理</a></li>
					</ul>
					
					<div class="sidebar_footer">
					    <ul>
						    <li><a href="contact.html">联系我们</a></li>
						    <li><a href="set.html">设置</a></li>
					    </ul>
					</div>
					
			   </div>
			   <div class="body">
			        <div class="body_left">
					  <table>
					   <tr>
					    <td class="pho">{{form.photo}]</td>   <!--从数据库传个人资料头像-->
					   </tr>
					   <tr>
					    <td>
							<a href="bianji" class="buit" style="font-size:20px;text-decoration=none;">编辑</a>
						</td>
					   </tr>
					  </table>
			        </div>
					<div class="body_right">
					  <table>
					   <tr>
					    <td width="20%">用户名:</td>
					    <td width="80%">{{userprofile.user.username}}</td> <!--从数据库传个人资料用户名-->
					   </tr>
					   <tr>
                        <td>手机号码:</td>
					    <td>{{userprofile.phone}}</td> <!--从数据库传个人资料手机号-->
					   </tr>
					   <tr>
					    <td>邮箱:</td>
					    <td>{{userprofile.user.email}}</td> <!--从数据库传个人资料邮箱-->
					   </tr>					   
                       <tr>
					    <td>公司名:</td>
					    <td>{{form.company}}</td> <!--从数据库传个人资料公司名-->
					   </tr>
                       <tr>
					    <td>职位:</td>
					    <td>{{form.occupation}}</td> <!--从数据库传个人资料职位-->
					   </tr>
					   <tr>
					    <td>我的奖品:</td>
					    <td>{{form.prize}}</td> <!--从数据库传个人资料奖品-->
					   </tr>
					  </table>
					</div>
			   </div>
</div>
</body>
</html>
